<!-- _includes/blog-card.html -->
<article class="box">
    <h2 class="title is-4">
      <a href="{{ include.post.url | relative_url }}">
        {{ include.post.title }}
      </a>
    </h2>
    <p class="subtitle is-6">
      {{ include.post.date | date: "%B %-d, %Y" }}
    </p>
    <div class="content">
      {{ include.post.excerpt | strip_html | truncate: 150 }}
    </div>
    <a href="{{ include.post.url | relative_url }}" class="button is-small is-outlined">
      Read More
    </a>
  </article>
  