<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">MORE</a>
    <div class="navbar-dropdown has-background-black is-left">
      <a
        href="{{ '/internship/' | relative_url }}"
        class="navbar-item has-text-grey-light{% if page.url == '/internship/' %} is-active{% endif %}"
      >
        Internship
      </a>
      <a
        href="{{ '/projects/' | relative_url }}"
        class="navbar-item has-text-grey-light{% if page.url == '/projects/' %} is-active{% endif %}"
      >
        Projects
      </a>
    </div>
  </div>
  